{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout/main.html" %}
{% block body %}
<div class="row">

	<!-- left column -->
	<div class="span12">
		{% for thisPrompt in prompts %}
		<p class="discussion-prompt">{{thisPrompt.promptText}} {{ response }}.</p>
		<!--<button type="submit" class="btn btn-primary">Submit</button>-->
		{% for thisResponse in thisPrompt.responses %}
		<div class="span3">
			<form method="POST" action="/thumb">
				<div class="btn-group" style="float:left;">
				<button type="submit" name="do" value="like" class="btn btn-mini"><i class="icon-thumbs-up"></i></button><button type="submit" name="do" value="dislike" class="btn btn-mini" style="margin-right: 8px;"><i class="icon-thumbs-down"></i></button>
				</div><input type="hidden" name="id" value="{{thisPrompt.id}}">
				<input type="hidden" name="response" value="{{ thisResponse.responseText }}">
					<p style="float:left;"> {{ thisResponse.responseText }}
			<i class="icon-thumbs-up"></i> {{thisResponse.likes}}</p>
		</form>


		</div>
		{% endfor %}
		{% endfor %}
	
	</div>
</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}