{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout/main.html" %}


{% block body %}


<div class="row">
		<div class="span12">
			<h2>Add New Prompt</h2>
			The blank is always at the end of the prompt. Don't add a space/period/whatever after the last word of the prompt.
			<form method="POST" action="">
				<input type="text" name="prompt" size="60"><button type="submit" class="btn">Add</i></button>
			</form>
		</div>
</div>

<div class="row">
	<div class="span12">
		<h2>All Prompts</h2>
		{% for prompt in prompts %}

			{{prompt.promptText}} ____________ .

		{% endfor %}
	</div>
</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}